html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------- */
body{
    background-color: lightblue;
}

.navBar{
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
    color: black;
    background-color: lightgray;
    position: fixed;
    width: 100%;
}

.navBarTitle{
    font-size: 18px;
    padding: 3px;
    display: inline-block;
}

.navBarSummary{
    font-size: 18px;
    display: inline-block;
}

.dummyText{
    line-height: 1.5;
    padding-top: 55px;
    margin: 0 auto;
}

.container{
    border: 1px solid black;
    margin: 0 auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 60%;
}

.userScore, .highScore{
    display: inline-block;
}

.scoreboard{
    padding: 7px;
    border: .5px solid white;
    min-width: fit-content;
    background-color: black;
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
}

#divider{
    margin: 0px 7px;
    font-size: 20px;
    font-weight: bold;
}

.summary{
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightpink;
}

.summaryText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.summaryTitle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.pictureBox{
    margin-left: 28px;
}

.image{
    border: 3px solid black;
    margin: 5px;
    border-radius: 5px;
}

.image:hover{
    width: 178px;
    height: 178px;
    box-shadow: 0px 0px 5px 5px black;
    cursor: pointer;
}